{% extends 'layout/index.html' %} {% block content %}
<h3 class="text-center">About Lynx Pardelle</h3>
<p class="text-center">
  Lynx Pardelle is a web developer and a data science enthusiast.
  <br />
  Check his portfolio at
  <a href="https://lynxpardelle.com" target="_blank">lynxpardelle.com</a>
</p>
<h3 class="text-center">About this project</h3>
<p class="text-center">
  This project is a simple blog application built with Django and SQLite.
  <br />
  You can check the source code at
  <a
    href="https://github.com/LynxPardelle/final-project-python-certification"
    target="_blank"
    >GitHub</a
  >
</p>
{% endblock %}
